@import "tailwindcss";
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-start-rgb: 248, 250, 252; /* Light slate background */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
}
